.cell
{
    height: 50px;
    width: 50px;
    display: inline-block;    
    background-color: aqua;
    font-size: 30px;
    text-align: center;
}

td{
    border: 1px solid black;   
}

table{
    padding:0;
    border-collapse: collapse;    
}